<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
</head>
<body>
	<div class="row mt">
		<div class="col-md-12 py-2 text-center text-white bg-dark">
			<h6>Pay My Buddy</h6>
		</div>
	</div>

	<div class="row col-10 offset-1 mt-5 p-5 bg-light justify-content-center">
		<div class="alert alert-success m-3 text-center">
			<h2>Welcome Admin</h2>
		</div>

		<div class="col-12 m-3 text-center textBold">
			<label>Total commissions :</label>
			<tr th:text="${#numbers.formatDecimal(commission, 1, 2)}"></tr>
			<label>&euro;</label>
		</div>
	</div>

	<div class="col-2 offset-5 mt-4 text-center">
		<a class="btn btn-primary" th:href="@{/logoff}">Log off</a>
	</div>
</body>
</html>
